<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="employeeMapper">
    <resultMap id="employeeResultMap" type="com.ohgiraffers.section01.xmlconfig.model.dto.EmployeeDTONamKyu">
        <id property="emp_ID" column="EMP_ID"/>
        <result property="emp_Name" column="EMP_Name"/>
        <result property="emp_No" column="EMP_NO"/>
        <result property="email" column="EMAIL"/>
        <result property="phone"
    </resultMap>

</mapper>